In [1]:
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
data = pd.read_csv('diabetes.csv')
col_names = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

for col_name in col_names:
    average = round(data[col_name].mean(skipna=True), 1 if col_name == 'BMI' else 0)
    data[col_name] = data[col_name].replace(0, average)

data['DiabetesPedigreeFunction'] = data['DiabetesPedigreeFunction'].round(3)

data.to_csv('diabetes_mean.csv', index=None)

In [3]:
data = pd.read_csv('diabetes_mean.csv')

In [4]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,80,33.6,0.627,50,1
1,1,85,66,29,80,26.6,0.351,31,0
2,8,183,64,21,80,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.682292,72.250000,26.743490,118.757812,32.450911,0.471876,33.240885,0.348958
std,3.369578,30.435999,12.117203,9.546733,93.039581,6.875366,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,21.000000,80.000000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,80.000000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
array = data.values
# print(array)
X = array[:, 0:-1]
Y = array[:, -1]
model = ExtraTreesClassifier()
model.fit(X, Y)
print(model.feature_importances_)

[0.10577458 0.23588556 0.08764805 0.0852565  0.0845476  0.15347667
 0.10364711 0.14376392]

In [8]:
data_selected=data.drop(['SkinThickness', 'Insulin'], axis=1)
data_selected.to_csv('diabetes_selected.csv', index=None)

In [9]:
data_selected.head()

,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,33.6,0.627,50,1
1,1,85,66,26.6,0.351,31,0
2,8,183,64,23.3,0.672,32,1
3,1,89,66,28.1,0.167,21,0
4,0,137,40,43.1,2.288,33,1

Standard Scaler

MinMax Scaler

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'